<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box search-box ">
            <form>
                <div class="field">
                    <label class="label">Book a service</label>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="search-type" id="lyrics">
                            9-10
                        </label>
                        <label class="radio" id="song-label">
                            <input type="radio" name="search-type" id="song">
                            10-11
                        </label>
                        <label class="radio" id="album-label">
                            <input type="radio" name="search-type" id="album">
                            12-1
                        </label>
                        <label class="radio" id="artist-label">
                            <input type="radio" name="search-type" id="artists">
                            1-2
                        </label>
                    </div>
                    {{#each times as |employee| }}
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="search-type" id="lyrics">
                            {{employee.week1}}
                        </label>
                    </div>
                    {{/each}}
                </div>
                <div class="control">
                    <button class="button is-custom" id="submit-query-btn">Book</button>
                    <button class="button is-custom" id="auth-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>



<div id="showcase-wrapper">
    <div id="myCalendarWrapper"></div>
    <div id="example">
        <h3>currentValue:
            <p id="current-date"></p>
        </h3>
        <h3>currentValue.getDay():
            <p id="current-day"></p>
        </h3>
        <h3>currentValue.toDateSring():
            <p id="current-datestring"></p>
        </h3>
    </div>
</div>

<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/calander.js"></script>


<script>
    //let employees = ("{{ employees }}")
    //console.log(typeof employees)
    //let employees = "{{employees}}";
    //let something = JSON(employees)
    //console.log(something)
    //employees.forEach(element => {
    //    console.log(element)
    //});



    const nextYear = new Date().getFullYear() + 1;
    const myCalender = new CalendarPicker('#myCalendarWrapper', {
        // If max < min or min > max then the only available day will be today.
        min: new Date(),
        max: new Date(nextYear, 10) // NOTE: new Date(nextYear, 10) is "Sun Nov 01 <nextYear>"
    });

    const currentDateElement = document.getElementById('current-date');
    currentDateElement.textContent = myCalender.value;

    const currentDayElement = document.getElementById('current-day');
    currentDayElement.textContent = myCalender.value.getDay();

    const currentToDateString = document.getElementById('current-datestring');
    currentToDateString.textContent = myCalender.value.toDateString();
    console.log(event)

    let scheduleDate;
    const modalLabel = $(".label")

    function populateDate(currentValue) {
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        let bookingMonth = months[currentValue.getMonth()];
        modalLabel.text(bookingMonth + ' ' + currentValue.getDate() + ', ' + currentValue.getFullYear());
    }
    const closeM = $(".modal-close");
    const modal = $(".modal");
    closeM.click(function closeModal() {

        modal.removeClass("is-active");

    })

    myCalender.onValueChange((currentValue) => {
        currentDateElement.textContent = currentValue;
        currentDayElement.textContent = currentValue.getDay();
        currentToDateString.textContent = currentValue.toDateString();

        scheduleDate = currentValue.getFullYear() + '-' + currentValue.getMonth() + '-' + currentValue.getDate();
        localStorage.setItem("scheduleDate", scheduleDate);
        console.log(scheduleDate);
        modal.addClass('is-active');
        populateDate(currentValue);

    });

    function getDatesTimeslots(date) {

    }


</script>