
<div class="container">
  <div class="content">
    <h1 id="gurus">Pet Gurus</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum dicta sed magni veniam enim obcaecati nam iste, dolores sequi, suscipit molestias, fugiat debitis autem temporibus laudantium tempora inventore expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, provident dolor, eaque accusamus voluptatibus, mollitia blanditiis qui vitae assumenda incidunt neque quidem corporis recusandae error pariatur a quia iusto enim. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, quasi necessitatibus totam ipsam est vel minima fugit aperiam cupiditate corrupti soluta illum consequuntur quas. Facilis reprehenderit inventore aliquam ipsum quas.</p>
    <br>
    <div class = "buttons">
        <button type="button" id="button1">Sign in</button>
        <button type="button" id="button2">Sign Up</button>
      </div>
  </div>
</div>
<img src="/images/dog41.jpg" alt="Notebook" style="width:100%;">
