<div class="container">
  <div class="content">

    <img src="/images/doglogo2.png" alt="Notebook" id="doglogo">
    <p>Dog On The Move is a dog walking and pet sitting service locally in Denver, Colorado. In any situation, whether it be working long hours, or maybe you're planning a vacation with some friend, Dog On The Move is here to save the day! We love making new furry friends and we take great pride in helping you with all your pet care needs. Our dog walker is dedicated to providing the highest quality service for you and your pets. We have over 10 years of experience, and our number one concern is the safety of your pet. If you are ever on the move, you can count on Dog On The Move to help move your dog. 
    <div class="buttons">

    </div>
  </div>
</div>
<img src="/images/dog41.jpg" alt="Notebook" style="width:100%;">