<div class="dogInfo">
            <div class="row">
                <div class="col-4"></div>

                <div class="col-5" id="dogForm" >
                    <label for="dogName" class="col-sm-2 col-form-label">Name</label>
                    <input class="form" type="text" placeholder="" />

                </div>
                <div class = "col-3">

                </div>
            </div>

            <div class="row">
                <div class="col-4"></div>

                <div class="col-5" >
                    <label for="dogGender" class="col-sm-2 col-form-label">Gender</label>
                    <input class="form" type="text" placeholder="" />

                </div>
                <div class = "col-3">
                    
                </div>
            </div>

            <div class="row">
                <div class="col-4"></div>

                <div class="col-5" >
                    <label for="dogBreed" class="col-sm-2 col-form-label">Breed</label>
                    <input class="form" type="text" placeholder="" />
                    <br>
                    <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Submit</a>
                </div>
                <div class = "col-3">
                    
                </div>
            </div>

           
            
        </div>