<div class="dogInfo" onclick="displayHide()">
  <div class="row">
    <div class="col-4">



    </div>
    <div class="col-4">
      <form class="needs-validation" id="info-form">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom01">Dog name</label>
            <input type="text" class="form-control" id="dog-name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom02">Gender</label>
            <input type="text" class="form-control" id="dog-gender" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Birthday</label>
            <input type="text" class="form-control" id="dog-birthday" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Breed</label>
            <select class="custom-select" id="dog-breed" required>
              <option selected disabled value="">Choose...</option>
              <option>Affenpinscher</option>
              <option>Afghan Hound</option>
              <option>Airedale Terrier</option>
              <option>Akita</option>
              <option>Alaskan Malamute</option>
              <option>American Bulldog</option>
              <option>American English Coonhound</option>
              <option>American Eskimo Dog</option>
              <option>Americna Foxhound</option>
              <option>American Hairles Terrier</option>
              <option>American Leopard Hound</option>
              <option>American Staffordshire Terrier</option>
              <option>American Water Spaniel</option>
              <option>Anatolian Shepherd Dog</option>
              <option>Appenzeller Sennenhund</option>
              <option>Australian Cattle Dog</option>
              <option>Australian Kelpie</option>
              <option>Australian Shepherd</option>
              <option>Australian Terrier</option>
              <option>Azawakh</option>
              <option>Barbado da Terceira</option>
              <option>Barbet</option>
              <option>Basenji</option>
              <option>Basset Hound</option>
              <option>Beagle</option>
              <option>Bearded Collie</option>
              <option>Belgian Laekenois</option>
              <option>Belgian Malinois</option>
              <option>Belgian Sheepdog</option>
              <option>Belgian Tervuren</option>
              <option>Bermaasco Sheepdog</option>
              <option>Berger Picard</option>
              <option>Bernese Mountain Dog</option>
              <option>Bichon Frise</option>
              <option>Biewer Terrier</option>
              <option>Black and Tan Coonhound</option>
              <option>Black Russian Terrier </option>
              <option>Bloodhound</option>
              <option>Bluetick Coonhound</option>
              <option>Boerboel</option>
              <option>Bohemian Shepherd</option>
              <option>Bolognese</option>
              <option>Border Collie</option>
              <option>Border Terrier</option>
              <option>Bouview des Flandres</option>
              <option>Boxer</option>
              <option>Briard</option>
              <option>Brittany</option>
              <option>Brussels griffon</option>
              <option>Bull terrier</option>
              <option>Bulldog</option>
              <option>Bull Mastiff</option>
              <option>Cairn terrier</option>
              <option>Canaan dog</option>
              <option>Chihuahua</option>
              <option>Chow Chow</option>
              <option>Collie</option>
              <option>Dachshund</option>
              <option>Dalmation</option>
              <option>Doberman Punscher</option>
              <option>English Cocker spaniel</option>
              <option>English Setter</option>
              <option>English Springer Spaniel</option>
              <option>English Toy Spaniel</option>
              <option>Eskimo Dog</option>
              <option>Finnish Spitz>
              </option>
              <option>Fox Terrier</option>
              <option>Foxhound</option>
              <option>French Bulldog</option>
              <option>German Shepherd</option>
              <option>German Shorthaired Pointer</option>
              <option>German Wirehaired Pointer</option>
              <option>Golden Retriever</option>
              <option>Gordon Setter</option>
              <option>Great Dane</option>
              <option>Greyhound</option>
              <option>Irish Setter</option>
              <option>Irish Water Spaniel</option>
              <option>Irish Wolfhound</option>
              <option>Jack Russel Terrier</option>
              <option>Japanese Spaniel</option>
              <option>Keeshond</option>
              <option>Kerry Blue Terrier</option>
              <option>Komondor</option>
              <option>Labrador Retriever</option>
              <option>Lakeland Terrier</option>
              <option>Maltese</option>
              <option>Manchester Terrier</option>
              <option>Mastiff</option>
              <option>Mexican Hairless</option>
              <option>Newfoundland</option>
              <option>Norwegian Elkhound</option>
              <option>Norwich Terrier</option>
              <option>Otterhound</option>
              <option>Papillon</option>
              <option>Pekingese</option>
              <option>Pointer</option>
              <option>Pomeranian</option>
              <option>Poodle</option>
              <option>Pug</option>
              <option>Puli</option>
              <option>Rhodesian Ridgeback</option>
              <option>Rottweiler</option>
              <option>Saint bernard</option>
              <option>Samoyed</option>
              <option>Scottish Deerhound</option>
              <option>Scottish Terrier</option>
              <option>Shetland Sheepdog</option>
              <option>Shih Tzu</option>
              <option>Siberian Husky</option>
              <option>Silky Terrier</option>
              <option>Skye Terrier</option>
              <option>Spitz</option>
              <option>Vizsla</option>
              <option>Weimaraner</option>
              <option>Welsh Terrier</option>
              <option>West Highland White Terrier</option>
              <option>Whippet</option>
              <option>YorkShire Terrier</option>
              <option>Other</option>
            </select>
          </div>

        </div>
        <div class="form-group">
        </div>
        <button class="btn btn-primary" type="submit" id="info-btn">Submit form</button>
      </form>

      <div class="row">


        <form class="login-form" id="userInfo">
          <div class="form-group">
            <label for="exampleInputEmail1">Name:</label>
            <p class="userName">{{name}}</p>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email:</label>
            <p class="email">{{email}}</p>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Pet Name:</label>
            <p class="petName">{{pet_name}}</p>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Days Booked:</label>
            <p class="booked"></p>
          </div>


        </form>
      </div>
    </div>
    <div class="col-4">

    </div>


  </div>

</div>
<div class="form-row col-md-8">
      <ul id="pet-list"></ul>
    </div>
<img src="/images/gabedog.jpeg" alt="Notebook" style="width:100%;">

<div class="row" id="profile">
  <div class="col-5">
    <img src="./images/brett.jpeg" alt="Brett">
  </div>

  <div class="col-1">

  </div>

  <div class="col-5">
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <br>
        <h1>Welcome, {{name}}</h1>
        <br>
        <p>My name is Brett Fitzpatrick and I am a professional dog walker. An interesting fact about me is that I am the oldest of 10 siblings, so growing up with dogs in the house I was always the one in charge of walking the dogs, training them to walk the walk and not pull. My passion for dogs continued to grow throughout my childhood, so I decided to start my own dog walking business. 

          </p>
      </div>
    </div>
  </div>

  <div class="col-1">

  </div>
</div>
<br>
<br>
<span class="line"></span>
<br>
<div class="row">
  <br>
  <div class="col-4">

  </div>

  <div class="col-4">
    <br>
    <h2>How to book a service</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis repudiandae, qui numquam cupiditate deserunt
      corporis officiis. Magni in consequatur labore natus, unde ullam neque deserunt ea omnis voluptas fuga id.</p>
    <br>

    

    <a href="/calendar">
      <button type="submit" class="btn btn-primary">View Calendar</button>
    </a>
  </div>

  <div class="col-4">

  </div>


</div>

<script src="/js/info.js"></script>