<div class="container">
    <div class="createAccount">
        <h2>Create a new account</h2>
        <br>
    </div>
    <form class="form">
        <input type="text" class="form-control" placeholder="name" id="name-signup">
        <input class="form-control" type="text" placeholder="Email" id="email-signup" />
        <input type="text" class="form-control" placeholder="pet-name" id="pet-name-signup">
        <form>
            <p>Select your role:</p>
            <select id="myList" onchange="favTutorial()">
                <option> ---Choose role--- </option>
                <option> user </option>
                <option> emp </option>
            </select>
            <p> Your selected tutorial site is:
                <input type="text" id="favourite" size="20" </p>
        </form>
        <input type="password" class="form-control" id="password-signup" placeholder="Password" />
        <br>
        <button class="btn btn-primary submit">Sign up</button>
    </form>
</div>
<script src="./js/signup.js"></script>
